/*ESTILOS GENERALES PARA TODO EL DOCUMENTO*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
}

/*estilos del header o cabecera*/
header{
    text-align: center;
    padding: 40px;
    color: aqua;
    background-color: #000000;
}

header h1{
    color: #8B0000;
}

/*menu*/
nav{
    box-shadow: 0 0 1em #8B0000;
    background-color: #000000;
    width: 100%;
    padding: 10px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    color: #fff;

}

nav ul li a:hover{
    background-color: #8B0000;
    /*margin-top: -2px;*/
    /*padding-bottom: 12px;*/
    /*padding: 10px;*/
    color: white;   
}

/*section y aside*/

section{
    margin:20px  0px;/* margin: distanciaX distanciaY*/
    /*background-color: #2F4F4F;*/
    float: left;
    width: 70%;
    color: white;
}

section header{
    padding: 10px;
    color: #8B0000;
}

section article ul li{
    color: green;
    display: block;
}

aside{
    margin:20px  0px;/* margin: distanciaX distanciaY*/
    /*background-color: red;*/
    float: left;
    width: 30%;
    color: white;
    /*clear: both;*/
}

aside header{
    padding: 10px;
    color: #8B0000;
}

aside  ul  li{
    color: green;
    display: block;
}

article{
    width: 50%;
    float: left;
}

article li{
    color: white;
}

article li strong{
    color: white;
}

aside li strong{
    color: white;
}


article li.actual{
    font-weight: bolder;
    font-size: 1.2em;
}


footer{
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 2px solid darkred;
    color: white;
}

@media (min-width:601px) and (max-width:1000px){
    body{
        font-family: Arial, sans-serif;
    }

    aside{
        float: left;
        width: 40%;
        clear: both;
    }

    section{
        float: left;
        width: 100%;
    }
    
    /*
    #formacion{
        width: 100%;
    }
    #experiencia{
        width: 100%;
    }
    */

}
@media only screen and ( max-width: 600px ) {
    body{
        font-family: Arial, sans-serif;
    }
    aside{
        width: 100%;
        clear: both;
        
    }
    article{
        padding: 20px;
    }
    section{
        float: left;
        width: 100%;
        clear: both;

    }
    #formacion{
        width: 100%;
        
    }
    #experiencia{
        width: 100%;
        
    }
}